# Homework 3

Author: *Xuyuan Zhang*; Time: *Jan. 23. 2024*

Notebook with practicing and Ch 5 Ex 1-2 and Ch 6 Ex 5-6

In [1]:
# this is my personal practicing

ev_vehicles = [
    "Cadillac Lyric, SUV, RWD, 89, 312, 119, , $61,795",
    "Chevrolet Bolt EUV, Sedan/Wagon, FWD, 115, 247, 75, 5, $27,200",
    "Chevrolet Bolt EV, Sedan/Wagon, FWD, 120, 259, 75, 5, $25,600",
    "Ford F150 Lightning 4WD, Pickup, AWD, 66-70, 240-320, 165, 5, $55,974",
]


model = ev_vehicles[0].split(", ")[0]  # Cadillac Lyric

print(f"\n1.1.1 Model = {model}")

1.1.1 Model = Cadillac Lyric

In [2]:
ev_vehicles = [
    ["Cadillac Lyric", "SUV", "RWD", "89", "312", "119", "", "$61,795"],
    ["Chevrolet Bolt EUV", "Sedan/Wagon", "FWD", "115", "247", "75", "5", "$27,200"],
    ["Chevrolet Bolt EV", "Sedan/Wagon", "FWD", "120", "259", "75", "5", "$25,600"],
    ["Ford F150 Lightning 4WD", "Pickup", "AWD", "66-70", "240-320", "165", "5", "$55,974"],
]

model = ev_vehicles[0][0]  # Cadillac Lyric

print(f"\n1.1.2 Model = {model}")

1.1.2 Model = Cadillac Lyric

In [3]:

print("\n1.2.1 Print elements")
for vehicle in ev_vehicles:
    print(vehicle)  # indented block

print("\n1.2.2 Print elements")
for vehicle in ev_vehicles[1:3]:
    print(vehicle)  # indented block

1.2.1 Print elements
['Cadillac Lyric', 'SUV', 'RWD', '89', '312', '119', '', '$61,795']
['Chevrolet Bolt EUV', 'Sedan/Wagon', 'FWD', '115', '247', '75', '5', '$27,200']
['Chevrolet Bolt EV', 'Sedan/Wagon', 'FWD', '120', '259', '75', '5', '$25,600']
['Ford F150 Lightning 4WD', 'Pickup', 'AWD', '66-70', '240-320', '165', '5', '$55,974']

1.2.2 Print elements
['Chevrolet Bolt EUV', 'Sedan/Wagon', 'FWD', '115', '247', '75', '5', '$27,200']
['Chevrolet Bolt EV', 'Sedan/Wagon', 'FWD', '120', '259', '75', '5', '$25,600']

In [4]:

print("\n1.3.1 Find Ford and print")
for vehicle in ev_vehicles:
    if vehicle[0].find("Ford") > -1:
        print(vehicle) 

print("\n1.3.2 Get all Chevrolet vehicles and print")
for vehicle in ev_vehicles:
    if "chevrolet" in vehicle[0].lower():
        print(vehicle)

print("\n1.3.3 Exclude all Chevrolet vehicles and print")
for vehicle in ev_vehicles:
    if "chevrolet" not in vehicle[0].lower():
        print(vehicle)

1.3.1 Find Ford and print
['Ford F150 Lightning 4WD', 'Pickup', 'AWD', '66-70', '240-320', '165', '5', '$55,974']

1.3.2 Get all Chevrolet vehicles and print
['Chevrolet Bolt EUV', 'Sedan/Wagon', 'FWD', '115', '247', '75', '5', '$27,200']
['Chevrolet Bolt EV', 'Sedan/Wagon', 'FWD', '120', '259', '75', '5', '$25,600']

1.3.3 Exclude all Chevrolet vehicles and print
['Cadillac Lyric', 'SUV', 'RWD', '89', '312', '119', '', '$61,795']
['Ford F150 Lightning 4WD', 'Pickup', 'AWD', '66-70', '240-320', '165', '5', '$55,974']

In [5]:

ev_vehicles = [
    [
        "model",
        "type",
        "drivetrain",
        "fuel_ec_mpge",
        "range_mi",
        "battery_kwh",
        "seats",
        "base_msrp",
    ],
    ["Tesla Model 3 RWD", "Sedan/Wagon", "RWD", "132", "272", "60", "5", "$46,990"],
    ["Porsche Taycan GTS Sport Turismo", "Sedan/Wagon", "AWD", "80", "233", "109", "4", "$86,700"],
    ["Kia Niro Electric", "Sedan/Wagon", "FWD", "113", "253", "64", "5", "$39,900"],
    ["Lucid Air G Touring XR AWD", "Sedan/Wagon", "AWD", "131", "516", "120", "5", "$87,400"],
    ["Toyota bZ4X AWD", "SUV", "AWD", "104", "228", "72", "5", "$44,080"],
    ["BMW i4 M50 Gran Coupe", "Sedan/Wagon", "AWD", "96", "271", "83", "5", "$67,300"],
    ["Tesla Model X", "SUV", "AWD", "102", "348", "104", "7", "$120,990"],
    ["Volkswagen ID.4 AWD Pro/Pro S", "SUV", "AWD", "99", "255", "81", "5", "$41,230"],
    ["Genesis Electrified G80", "Sedan/Wagon", "AWD", "97", "282", "87", "", "$79,825"],
    ["Porsche Taycan AWD", "Sedan/Wagon", "AWD", "83", "246", "109", "4", "$86,700"],
    ["Mini Cooper SE Hardtop 2 door", "Sedan/Wagon", "FWD", "110", "114", "32", "4", "$29,900"],
    ["Genesis GV60 Performance", "Sedan/Wagon", "AWD", "90", "235", "77", "", "$67,890"],
    ["Rivian R1S", "SUV", "AWD", "71", "321", "144", "7", "$78,000"],
    ["Tesla Model Y AWD", "SUV", "AWD", "123", "330", "84", "7", "$65,990"],
    ["Audi e-tron Sportback/S Sportback", "SUV", "AWD", "78", "225", "95", "5", "$69,100"],
    ["Rivian R1T", "Pickup", "AWD", "73", "328", "144", "5", "$73,000"],
    ["Tesla Model S", "Sedan/Wagon", "AWD", "120", "405", "104", "5", "$104,990"],
    ["Toyota bZ4X", "SUV", "FWD", "119", "252", "71", "5", "$42,000"],
    [
        "Polestar Automotive USA Polestar 2",
        "Sedan/Wagon",
        "FWD",
        "107",
        "270",
        "77",
        "5",
        "$48,400",
    ],
    ["Audi e-tron quattro/S", "SUV", "AWD", "79", "226", "95", "5", "$65,900"],
    ["BMW i7 xDrive60 Sedan", "Sedan/Wagon", "AWD", "89", "318", "105", "5", "$119,300"],
    ["BMW iX xDrive50", "SUV", "AWD", "86", "324", "76", "5", "$83,200"],
    ["Chevrolet Bolt EV", "Sedan/Wagon", "FWD", "120", "259", "75", "5", "$25,600"],
    ["BMW iX M60", "SUV", "AWD", "78", "288", "111", "5", "$108,900"],
    ["Tesla Model 3 AWD", "Sedan/Wagon", "AWD", "131", "358", "84", "5", "$46,990"],
]

print("\n1.4.1 Tesla EVs (membership in)")
for vehicle in ev_vehicles[1:]:
    if "tesla" in vehicle[0].lower():
        print(vehicle)

1.4.1 Tesla EVs (membership in)
['Tesla Model 3 RWD', 'Sedan/Wagon', 'RWD', '132', '272', '60', '5', '$46,990']
['Tesla Model X', 'SUV', 'AWD', '102', '348', '104', '7', '$120,990']
['Tesla Model Y AWD', 'SUV', 'AWD', '123', '330', '84', '7', '$65,990']
['Tesla Model S', 'Sedan/Wagon', 'AWD', '120', '405', '104', '5', '$104,990']
['Tesla Model 3 AWD', 'Sedan/Wagon', 'AWD', '131', '358', '84', '5', '$46,990']

In [6]:

# Alternative (str.startswith())
print("\n1.4.2 Tesla EVs (str.startswith())")
for vehicle in ev_vehicles[1:]:
    if vehicle[0].lower().startswith("tesla"):
        print(vehicle)

# Alternative (str.find())
print("\n1.4.3 Tesla EVs (str.find())")
for vehicle in ev_vehicles[1:]:
    if vehicle[0].lower().find("tesla") > -1:
        print(vehicle)

1.4.2 Tesla EVs (str.startswith())
['Tesla Model 3 RWD', 'Sedan/Wagon', 'RWD', '132', '272', '60', '5', '$46,990']
['Tesla Model X', 'SUV', 'AWD', '102', '348', '104', '7', '$120,990']
['Tesla Model Y AWD', 'SUV', 'AWD', '123', '330', '84', '7', '$65,990']
['Tesla Model S', 'Sedan/Wagon', 'AWD', '120', '405', '104', '5', '$104,990']
['Tesla Model 3 AWD', 'Sedan/Wagon', 'AWD', '131', '358', '84', '5', '$46,990']

1.4.3 Tesla EVs (str.find())
['Tesla Model 3 RWD', 'Sedan/Wagon', 'RWD', '132', '272', '60', '5', '$46,990']
['Tesla Model X', 'SUV', 'AWD', '102', '348', '104', '7', '$120,990']
['Tesla Model Y AWD', 'SUV', 'AWD', '123', '330', '84', '7', '$65,990']
['Tesla Model S', 'Sedan/Wagon', 'AWD', '120', '405', '104', '5', '$104,990']
['Tesla Model 3 AWD', 'Sedan/Wagon', 'AWD', '131', '358', '84', '5', '$46,990']

Write a program which repeatedly reads integers until the user enters “done”. Once “done” is entered, print out the total, count, and average of the integers. If the user enters anything other than a integers, detect their mistake using try and except and print an error message and skip to the next integers.

```
Enter a number: 4
Enter a number: 5
Enter a number: bad data
Invalid input
Enter a number: 7
Enter a number: done
16 3 5.333333333333333
```

In [1]:
def read_integers():
    total = 0
    count = 0

    while True:
        try:
            input_str = input("Enter a number: ")
            if input_str == "done":
                break
            else:
                number = int(input_str)
                total += number
                count += 1
        except ValueError:
            print("Invalid input")

    if count > 0:
        average = total / count
        print(total, count, average)
    else:
        print("No valid numbers were entered.")

# Run the program
read_integers()

Invalid input
16 3 5.333333333333333

Exercise 2: Write another program that prompts for a list of numbers as above and at the end prints out both the maximum and minimum of the numbers instead of the average.

In [5]:
def read_integers_max_min():
    num_list = []

    while True:
        try:
            input_str = input("Enter a number: ")
            if input_str == "done":
                break
            else:
                number = int(input_str)
                num_list.append(number)
        except ValueError:
            print("Invalid input")

    if len(num_list) > 0:
        print(max(num_list), min(num_list))
    else:
        print("No valid numbers were entered.")

# Run the program
read_integers_max_min()

Invalid input
7 4

Ex 5: Slicing strings

Take the following Python code that stores a string:

```str = 'X-DSPAM-Confidence: 0.8475'```

Use `find` and string slicing to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.

In [ ]:
string_name = 'X-DSPAM-Confidence: 0.8475'

# Find the colon character
colon_position = string_name.find(':')

# Slice the string after the colon character
number_string = string_name[colon_position+1:].strip()

# Convert the string to a float
number = float(number_string)

print(number)

0.8475

Ex 6: String methods

Read the documentation of the string methods at https://docs.python.org/library/stdtypes.html#string-methods. You might want to experiment with some of them to make sure you understand how they work. `strip` and `replace` are particularly useful.

The documentation uses a syntax that might be confusing. For example, in `find(sub[, start[, end]])`, the brackets indicate optional arguments. So sub is required, but start is optional, and if you include start, then end is optional.

In [ ]:
text = "Hello, welcome to the world."
x = text.find("welcome") # Returns 7

text = "Hello, welcome to the world."
y = text.find("o", 5, 10) # Returns 9

text = "    Hello, welcome to the world.     "
z = text.strip() # Returns "Hello, welcome to the world."

text = "I like bananas"
u = text.replace("bananas", "apples") # Returns "I like apples"

text = "one one was a race horse, two two was one too."
t = text.replace("one", "three", 2) # Returns "three three was a race horse, two two was one too."

print(x)
print(y)
print(z)
print(u)
print(t)

7
-1
Hello, welcome to the world.
I like apples
three three was a race horse, two two was one too.